/* Imports */
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato:400,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap');
/* / Imports */

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
}

/* Background colours */

.bg-smokeyblack {
    background-color: #1b1b1b;
}

/* Project fonts & global text styles */
body {
    font-family: 'Lato', sans-serif;
}

h1 {
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    color: #fff;
    font-size: 350%;
}

.lead {
    color: #fff;
    font-family: 'Lato', sans-serif;
    word-wrap: break-word;
}

h2 {
    margin: 15px;
}

/* / Project fonts */

/* Navbar styles */
.nav-link.active {
    color: #ffb810 !important;
}

.nav-link:hover {
    color: #ffb810 !important;
}

.navbar-brand {
    height: 90px;
    width: auto;
}

/* / Navbar styles */

/* Jumbotron styles */

.callout-container {
    background-color: #1b1b1b;
    height: 50vh;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: left;
}

.text-highlight {
    color: #ffb810;
}

.btn-cta {
    background-color: #1b1b1b;
    border: 1.5px solid #ffb810;
    border-radius: 10px;
    color: #fff;
}

.btn-cta:hover {
    background-color: #ffb810;
    color: #fff;
    border: 1.5px solid #000;
    border-radius: 10px;
}

.callout-content {
    padding-right: 10px;
    padding-left: 50px;
}

.image-container {
    height: 50vh;
    background-color: #1b1b1b;
    margin: 0;
    padding: 0;
    text-align: center;
}

.img-fluid {
    height: 100%;
    width: 70%;
}

/* Main section styles */

/* Card styling */

.card-container {
    justify-content: center;
}

.card {
    width: 100%;
    border: none;
}

.card-title {
    font-weight: 600;
    font-size: 175%;
}

span.card-highlight {
    color: #ffb810;
}


.card-img-top {
    padding-left: 2.5%;
    padding-right: 2.5%;
}

/* / Card styling */

.testemonials-container {
    background-color: #1b1b1b;
    color: #fff;
    margin: 0;
    padding: 0;
}

img.testemonial-img {
    width: 175px;
    border: 2px solid #ffb810;
    border-radius: 50%;
}

.testemonial,
.testemonial-content {
    padding: 15px;
    margin: 0;
}

.testemonial-name {
    font-size: 150%;
    color: #ffb810;
    font-weight: 600;
    padding-top: 15px;
    padding-bottom: 0;
    margin: 0;
}


/* / Testemonials stling */

/* / Main sections styles */

/* Footer styles */

.footer-container {
    background-color: #1b1b1b;
    margin-top: 20px;
    padding: 0;
}

footer h3 {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    color: #fff;
    margin: 0;
    font-size: 130%;
}

footer p {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    color: #fff;
    margin: 0;
    padding: 0;
    font-size: 75%;
}

.footer-logo {
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    height: 50px;
    width: auto;
}

.footer-socials {
    padding-top: 2.5vh;
}

.footer-socials i {
    font-size: 30px;
    color: #fff;
    padding: 0 10px 2vh 0;
}

.footer-socials i:hover {
    color: #ffb810;
}

/* Footer styles */


/* Custom media queries */
/* Padding settings for small devices where text alignemnt changes */
@media (max-width: 576px) {
    .callout-content {
        padding: 15px;
        margin: 0;
    }

    .footer-socials {
        padding-top: 0;
    }

    .card-text {
        padding-left: 20px;
        padding-right: 20px;
    }

    img.testemonial-img {
        width: 125px;
    }